body {
display: flex;
  justify-content: center; 
  align-items: center;     

  min-height: 100vh;
  font-size: 100px;
  color: #550000;
  background-color: #000000;
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}
